// Content
.content {
    position: relative;
    z-index: 1;
}

// Container
.grid-container {
    &--small {
        max-width: rem-calc(890);
    }
}

// Brand
.brand {
    display: inline-block;
    margin-top: ($global-padding / 2);
    margin-bottom: ($global-padding / 2);
    padding: ($global-padding / 2);

    a {
        display: block;
    }
}