</main>
<!-- / .content -->

<footer class="[ footer ]">
    <div class="[ footer__container ] [ grid-container grid-container--small ]">
        <div class="[ footer__grid ] [ grid-x align-justify ]">
            <div class="[ footer__col ] [ cell ]">
                <h2 class="[ footer__title ] [ h6 ]">
                    <strong>Front-End Challenge</strong>
                </h2>
            </div>
            <!-- / .footer__col -->

            <div class="[ footer__col ] [ cell medium-5 grid-x ]">
                <div class="[ cell medium-6 ]">
                    <ul class="[ menu vertical ]">
                        <li>
                            <a href="/">Inicial</a>
                        </li>
                        <li>
                            <a href="#">Cursos</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li>
                            <a href="/contact.html">Contato</a>
                        </li>
                    </ul>
                    <!-- / .menu -->

                    <ul class="[ menu vertical ]">
                        <li>
                            <a href="#">Termos de Uso</a>
                        </li>
                        <li>
                            <a href="#">Política de Privacidade</a>
                        </li>
                    </ul>
                    <!-- / .menu -->
                </div>

                <div class="[ cell medium-5 medium-offset-1 ]">
                    <span class="[ footer__sub-title ] [ h6 text-uppercase ]">
                        <strong>Alunos</strong>
                    </span>
                    <ul class="[ menu vertical ]">
                        <li>
                            <a href="#">Crie uma conta</a>
                        </li>
                        <li>
                            <a href="#">Acesse os cursos</a>
                        </li>
                        <li>
                            <a href="#">Precisa de ajuda?</a>
                        </li>
                    </ul>
                    <!-- / .menu -->
                </div>
            </div>
            <!-- / .footer__col -->

            <div class="[ footer__col ] [ cell medium-5 medium-offset-2 grid-x ]">
                <div class="[ footer__ctas ] [ cell grid-x align-justify ]">
                    <a href="#" class="[ button large ]">Veja os cursos</a>
                    <a href="/contact.html" class="[ button light hollow large ]">Entre em contato</a>
                </div>

                <div class="[ cell grid-x ]">
                    <a href="#">
                        <i class="[ menu__facebook-icon ] [ fab fa-facebook-square ]"></i>
                        <span class="[ show-for-sr ]">Facebook</span>
                    </a>
                    <span class="[ footer__copyright ]">Copyright &copy; 2018</span>

                    <img class="footer__trust-sign" src="{{root}}assets/img/geo-trust.jpg" alt="GeoTrust">
                </div>
            </div>
            <!-- / .footer__col -->
        </div>
        <!-- / .footer__grid -->
    </div>
    <!-- / .footer__container -->
</footer>
<!-- / .footer -->