<div class="[ hero{{#ifpage 'contact'}} hero--stripe{{/ifpage}} ]">
    <span class="[ hero__image ]" style="background-image: url('{{root}}assets/img/hero-banner-{{page}}.jpg');"></span>

    {{#ifpage 'index'}}
    <div class="[ hero__caption-wrapper ] [ grid-container ]">
        <div class="[ hero__caption ]">
            <p>Cursos à distância para motoristas na área de transportes</p>
            <a href="#" class="[ button expanded ] [ text-uppercase ]">Inscreva-se</a>
        </div>
        <!-- / .hero__caption -->
    </div>
    <!-- / .hero__caption-wrapper -->
    {{/ifpage}}
</div>
<!-- / .hero -->